{% extends "base.html" %}

{% block content %}
<link type="text/css" href="/photos/css/resetpassword.css" rel="stylesheet" />
<h4>Set New Password</h4>

<form action="" method="post">
    {% csrf_token %}
    {% if validlink %}
        <p>Please enter your new password twice so we can verify if you typed it correctly.</p>
        <p>
            {{ form.as_p }}
        </p>
               
        <p class="button-height">
            
            
        </p>
        <button type="submit">Change my password</button>
    {% else %}
        <h3>Password reset unsuccessful</h3>
        <p>The password reset link was invalid,
           possibly because it has already been used.
           Please request a new password reset.</p><br/>
           
    {% endif %}
           
    
</form>
{% endblock content %}